
 *{
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
}
body{
    
   background: linear-gradient(to bottom, #8405a4 , #4b014d); 
}
label{
    color: #9C00C9;
}
.media{
    display: flex;
    padding: 300px 100px 0px 100px;
    position: absolute;
}
.media :hover{
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    opacity: 0.8;
}
button{
    color:  #9C00C9  !important;
}
.containers{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container {
    width: 300px;
    margin: 50px ;
    background-color: #343131;
    padding: 20px;
    box-shadow: 0 0 20px rgb(255, 3, 247);
}
img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.explanation {
    margin-top: 50px;
}
h2 {
    color: #ffffff;
}
p {
    color: #ffffff;
    line-height: 1.5;
}
marquee{
    background-color: #650075;
    color: #ffffff;
    /* border-radius: 10px; */
    border-top: solid 1px rgb(255, 255, 255);
    border-bottom: solid 1px rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0.7;
}
.a_tag_name{
    text-decoration: none;
    font-size: xx-large;
    color: rgb(185, 3, 185);
}
.a_tag_name:hover{
    color: #9a9595;
    opacity: 0.8;
}
.img_anime{
    border: #000000 1px solid;
    box-shadow: 0 0 20px  purple; 
}
.name_character{
    margin: 1px;
    font-size: 18px;
    color: rgb(228, 161, 250);
    
}

/* Responsev */
@media screen and (max-width : 700px) {
    .container{
        width: 150px;
        margin: 15px;
        padding: 7px;
    }
    .a_tag_name{
        font-size: x-small;
    }
    *{
        font-size: xx-small;
    }
    .name_character{
        margin: 0px;
        font-size: xx-small;
    }


}
@media screen and (min-width : 700px) and (max-width : 800px) {
    .container{
        width: 250px;
    }
    .a_tag_name{
        font-size: large;
    }
    *{
        font-size: small;
    }
    .name_character{
        margin: 0px;
        font-size: small;
    }

}
@media screen and (min-width : 1599px) {
    .container{
        width: 450px;
        margin: 40px;
        padding: 30px;
    }
    .a_tag_name{
        font-size: xx-large;
    }
    *{
        font-size: x-large;
    }
    .name_character{
        font-size: x-large;
    }
}

